#footer {
    background-color: #131313;
    .inner {
        height: 165px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            color: #fff;
            font-size: 14px;
            &.top {
                position: absolute;
                right: -50px;
                top: -70px;
                width: 70px;
                height: 70px;
                background-color: #131313;
                text-align: center;
                a {
                    color: #fff;
                }
                i {
                    vertical-align: bottom;
                    font-size: 30px;
                    margin-top: 10px;
                }
                span {
                    display: block;
                    font-size: 15px;
                }
            }
        }
    }
}
