#header {
    .nav .gnb {
        display: flex;
        justify-content: center;
        li a {
            font-size: 18px;
            font-weight: 700;
            color: #222;
            display: block;
            padding: 10px 60px;
        }
    }
}
