#visual { height: 900px;position: relative; }
#visual .main-banner { width: 100%;height: 900px;position: relative;overflow: hidden; }
#visual .main-banner li { width: 100%;height: 900px;position: absolute;left: 100%;top: 0;background-repeat: no-repeat;background-position: 0 0;background-size: cover;display: flex;align-items: center; }
#visual .main-banner li:nth-child(1) { background-image: url("../images/main/main01_pc.jpg");left: 0; }
#visual .main-banner li:nth-child(2) { background-image: url("../images/main/main02_pc.jpg"); }
#visual .main-banner li:nth-child(3) { background-image: url("../images/main/main03_pc.jpg"); }
#visual .main-banner li:nth-child(4) { background-image: url("../images/main/main04_pc.jpg"); }
#visual .main-banner li .txt { color: #fff; }
#visual .main-banner li .txt h2 { font-size: 50px;letter-spacing: -0.5px;font-weight: 700;line-height: 1.1; }
#visual .main-banner li .txt h2 + p { font-size: 20px;margin-bottom: 45px; }
#visual .main-banner li .txt .more a { color: #fff;width: 200px;height: 50px;display: block;border: 1px solid #fff;border-radius: 25px;text-align: center;line-height: 50px; }
#visual .main-banner li .txt .more a i { vertical-align: middle;font-size: 18px; }
#visual .btn-wrap .btn { position: absolute;top: 50%;transform: translateY(-50%);border: none;background-color: transparent;cursor: pointer; }
#visual .btn-wrap .prev { left: 250px; }
#visual .btn-wrap .next { right: 250px; }
#visual .scroll { position: absolute;left: 50%;bottom: 30px;transform: translateX(-50%);cursor: pointer; }

/* .main {} */
.main .con-box { width: 100%; }
.main .con-box .inner { padding: 120px 0; }
.main .con-box h2 { font-size: 45px;font-weight: 500; }
.main .box1 h2 { margin-bottom: 15px;text-align: center; }
.main .box1 h2 + p { font-size: 17px;margin-bottom: 35px;text-align: center; }
.main .box2 h2 { margin-bottom: 25px; }
.main .box2 h2 + p { font-size: 17px;font-weight: 300;margin-bottom: 40px; }
/* .main .con-box .more { text-align: center; } */
.main .con-box .more a { display: inline-block;width: 180px;height: 50px;border: 1px solid #000;text-align: center;line-height: 50px;font-size: 15px;border-radius: 25px;position: relative;overflow: hidden; }
.main .con-box .more a span { transition: 0.4s;position: relative;z-index: 5; }
.main .con-box .more a i { vertical-align: middle; }
.main .con-box .more a::after {
    content: "";display: block;
    width: 250px;height: 70px;
    transition: 0.4s;
    transform: skewX(15deg);
    position: absolute;left: -260px;top: -10px;
}
.main .con-box .more a:hover::after { left: -10px; }
.main .box1 .more { text-align: center; }
.main .box1 .more a { border-color: #000; }
.main .box1 .more a span { color: #fff; }
.main .box1 .more a:hover { border-color: orange; }
.main .box1 .more a:hover span { color: #fff; }
.main .box1 .more a:hover::after { background-color: orange; }
.main .box2 .more a { border-color: #fff; }
.main .box2 .more a span { color: #fff; }
.main .box2 .more a:hover span { color: #000; }
.main .box2 .more a:hover::after { background-color: #fff; }

.main .con1 ul { display: flex;justify-content: center; }
.main .con1 ul li { width: 270px;margin: 0 10px; }
.main .con1 ul li a div { overflow: hidden;width: 270px;height: 370px;position: relative; }
.main .con1 ul li a div img { transition: 1s;width: 100%; }
.main .con1 ul li a div span { display: block;width: 100%;height: 100%;position: absolute;left: 0;top: 0;background-image: linear-gradient(pink,hotpink);opacity: 0;transition: 1s; }
.main .con1 ul li a h3 { border-bottom: 1px solid #999;padding-bottom: 20px;font-size: 20px;margin: 20px 0; }
.main .con1 ul li a h3 span { display: block;margin-top: 5px; }
.main .con1 ul li a p { font-size: 15px;line-height: 1.4;word-break: keep-all; }
.main .con1 ul li a div:hover img { transform: scale(1.1); }
.main .con1 ul li a div:hover span { opacity: 0.5; }
.main .con1 .more { margin-top: 40px; }

.main .con2 { position: relative; }
.main .con2::after { content: "";display: block;width: 100%;height: 50%;background-color: #f6f6f6;position: absolute;left: 0;top: 0;z-index: -5; }
.main .con2 ul { display: flex;margin-top: 45px;justify-content: space-between; }
.main .con2 ul li { width: 580px; }
.main .con2 ul li div { width: inherit;height: 550px;overflow: hidden; }
.main .con2 ul li div a { display: block;position: relative;width: inherit;height: inherit;display: flex;flex-direction: column;align-items: center;justify-content: center;text-align: center; }
.main .con2 ul li div a img { position: absolute;left: 0;top: 0;z-index: 10;transition: 0.5s; }
.main .con2 ul li div a h3 { position: relative;z-index: 15;font-size: 28px;line-height: 1.3;color: #fff;margin-bottom: 30px; }
.main .con2 ul li div a h3 span { display: block;font-size: 43px; }
.main .con2 ul li div a b { position: relative;z-index: 15;display: block;width: 70px;height: 70px;cursor: pointer;border-radius: 50%;border: 1px solid #fff; }
.main .con2 ul li div a b i { font-size: 35px;line-height: 70px;color: #fff; }
.main .con2 ul li div + p { text-align: center;margin: 20px 0;font-weight: 200;font-size: 17px; }
.main .con2 ul li div:hover a img { transform: scale(105%); }

.main .con3 { position: relative; }
.main .con3::after {
    content: "";display: block;
    width: 45%;height: 100%;
    position: absolute;left: 0;top: 0;background-color: #07255d;z-index: -10;
}
.main .con3 .inner { display: flex;justify-content: space-between;align-items: center; }
.main .con3 .left { width: 480px;color: #fff; }
.main .con3 .left h2::after {
    content: "";display: block;
    height: 1px;width: 100px;border: 1px solid #fff;
    margin-top: 20px;
}
.main .con3 .left h2 + p { word-break: keep-all; }
/* .main .con3 .left h2 + p.more {} */
.main .con3 ul { width: 620px;display: flex;flex-wrap: wrap; }
.main .con3 ul li { margin-bottom: 30px; }
.main .con3 ul li:nth-child(odd) { margin-right: 40px; }
.main .con3 ul li a div { width: 275px;height: 200px;margin-bottom: 10px;overflow: hidden; }
.main .con3 ul li a div img { transition: 1s;width: 100%;height: 100%;object-fit: cover;object-position:center center; }
.main .con3 ul li a div:hover img { transform: scale(105%); }

.main .con4 { background-repeat: no-repeat;background-position: 0 0;background-size: cover;background-image: url("../images/main/main_foot_bg.jpg"); }
.main .con4 .inner { display: flex;justify-content: space-between;align-items: center; }
.main .con4 .left { width: 480px; }
.main .con4 .left h2 span { display: block;font-weight: 200; }
.main .con4 ul { display: flex;justify-content: space-between;width: 700px; }
.main .con4 ul li:nth-child(1) { background-color: rgba(207, 107, 39, 0.8); }
.main .con4 ul li:nth-child(2) { background-color: rgba(38, 44, 55, 0.8) }
.main .con4 ul li:nth-child(3) { background-color: rgba(9, 27, 65, 0.8); }
.main .con4 ul li a { color: #fff;width: 220px;height: 220px;display: flex;flex-direction: column;justify-content: center;align-items: center; }
.main .con4 ul li a > span { margin-bottom: 10px; }
.main .con4 ul li a strong {text-align: center; }
.main .con4 ul li a strong span { display: block; }

#gnb {
    position: fixed;right: 100px;top: 50%;transform: translateY(-50%);
    z-index: 200;
}
#gnb::after {
    content: "";display: block;
    width: 1px;height: 175px;background-color: #fff;opacity: 0.5;
    position: absolute;left: 0;top: 50%;transform: translateY(-50%);
}
#gnb li { margin-bottom: 20px; }
#gnb li:last-child { margin-bottom: 0; }
#gnb li a { display: block;padding-left: 20px;white-space: nowrap;position: relative;color: rgba(255, 255, 255, 0.5);transition: color 0.5s;font-size: 14px; }
#gnb li a::before, #gnb li a::after { content: "";display: block;position: absolute;border-radius: 50%;left: 0;top: 50%;transform: translate(-50%,-50%); }
#gnb li a::before { width: 7px;height: 7px;background-color: #555;z-index: 201; }
#gnb li a::after { width: 23px;height: 23px;border: 2px solid transparent;background-color: transparent; }
#gnb li a:hover { color: #fff; }
#gnb li a:hover::before { background-color: #fff; }
#gnb li a:hover::after { border: 2px solid #fff; }
#gnb li.on a { color: #fff; }
#gnb li.on a::before, #gnb li.on a::after { display: block; }
#gnb li.on a::after { display: block;border: 2px solid #fff; }
#gnb li.on a::before { display: block;background-color: #fff; }